---
import Layout from "@layouts/Layout.astro";
import AddTransactionForm from "@features/transactions/components/AddTransactionForm.vue";
---

<Layout title="Add Transaction - Portfolio Manager">
  <div class="space-y-6">
    <div class="flex justify-between items-center">
      <h1 class="text-2xl font-semibold text-white">Add Transaction</h1>
    </div>

    <div class="bg-gray-900 shadow rounded-lg p-6">
      <AddTransactionForm client:load />
    </div>
  </div>
</Layout>
